# Allow .gitignore file to be tracked
!.gitignore

# Ignore reports and results directories at any level
**/reports/
**/results/
**/apk/

# Ignore backup or temporary files ending with a tilde (~)
*~

# Ignore IDE/project settings
.idea/

# Ignore Python cache and compiled files
__pycache__/
*_pycache_/
*.pyc
*.pyo

# Ignore pytest cache
.pytest_cache/

# Ignore virtual environments
.venv/
venv/

# Ignore cache files (generic)
*.cache